.testArea {
    cursor: default;
    user-select: none;
    height: 85vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #dbd7d7;
    background: linear-gradient(to bottom, #1a1a1a 0%, #3d2c41 40%, #6a3093 70%, #0a0a0f 100%);

    margin-top: 2rem;
    border-bottom: 1px solid #dbd7d7;
}
  
.clickable {
    cursor: pointer;
}
  